<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Information</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Data Information</h1>
        <div class="box-container">
            <div class="box" id="physical">
                <h2>Physical</h2>
                <div class="content"></div>
            </div>
            <div class="box" id="chemical">
                <h2>Chemical</h2>
                <div class="content"></div>
            </div>
            <div class="box" id="biological">
                <h2>Biological</h2>
                <div class="content"></div>
            </div>
            <div class="box" id="air">
                <h2>Air</h2>
                <div class="content"></div>
            </div>
            <div class="box" id="other">
                <h2>Other Parameters</h2>
                <div class="content"></div>
            </div>
        </div>
    </div>
</body>
</html>
